.container{
    background-image: url('../images/backgroundImage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 60%;
    padding: 5%;
}

#playerProfile{
    color: rgb(23, 25, 112);
}